*{
    margin:  0;
    padding: 0;

}
body{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
}
/* body div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #056489;
    margin: 200px auto;
    text-align: center ;
} */
#audio{
    text-align: end;
    margin-top: -83px;
    margin-right: 64px;
}
a{
    padding-left: 5px;
    padding-top: 10px;
    text-decoration: none;
    color: #105975;
    font-size: 2.2em;
    font-weight: 700;
    font-family: 'Scheherazade', serif;
    line-height: 1.8;
}
#prg0 div {
    position: absolute;
    right: 367px;
}
.lessonImage{
    float: left;

}

#prg0{
    text-align: start;
    /*margin-left: 45%;*/
    /*width: 45%;*/
    direction: rtl;
    padding-top: 42px;
    position: relative;
}
#prg{
    text-align: center;
    margin: auto;
    width: 85%;
    direction: rtl;
    padding-top: 42px;
}


#_17{
    font-weight: 400;
    font-size: 2.4em;
}

.havere{
    color: #e0b527;
}
